<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class = 'pane'>
            <h1>Categories</h1>
            <a href="{{url_for('newCategory')}}" > <h3> Create a New Category </h3> </a>
            {% for category in categories %}
                <a href = "{{url_for('showList', category_id = category.id)}}"> <p>{{category.name}}</p></a>
                <p><a href = "{{url_for('editCategory',category_id = category.id)}}">Edit category</a></p>
                <p> <a href = "{{url_for('deleteCategory',category_id = category.id)}}">Delete category</a> </p>
            {% endfor %}
        </div>
    </body>
</html>
