{% extends "main.html" %}
{% block content %}
<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
        {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
	</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
            <h2>Actions</h2>
			<a href="{{url_for('newCategory')}}">
				<button class="btn-group btn-group-sm" id="new-category">
                    <span class="octicon octicon-diff-added"></span>
                    Add Category
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>

<div class="list-group">
    {% for i in categories %}
    <div class="row list-group-item">
        <a href = "{{url_for('showList', category_id = i.id)}}">{{i.name}}</a>
        <p><a href = "{{url_for('editCategory',category_id = i.id)}}">Edit</a></p>
        <p><a href = "{{url_for('deleteCategory',category_id = i.id)}}">Delete</a></p>
    </div>
    {% endfor %}
</div>


{% endblock %}
