{% extends "main.html" %}
{% block content %}
<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
<div class="row banner main">
    <div class="col-md-1"></div>
</div>
<div class="row padding-top padding-bottom">
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
</div>
<h1> Edit Category </h1>
<form action="{{ url_for('editCategory',category_id = category.id)}}" method = 'post'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <p>Name:</p>
    <input type ='text' size='30' name='name' placeholder = '{{category.name }}'>
    <input type='submit' value='Edit'>
    <a href = '{{url_for('showCategories')}}'> Cancel </a>
</form>
{% endblock %}
