{% extends "main.html" %}
{% block content %}
<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</div>
<div class="row banner main">
    <div class="col-md-1"></div>
</div>
<div class="row padding-top padding-bottom">
    <div class="col-md-1"></div>
    <div class="col-md-10 padding-none">
        <h2>Actions</h2>
        <a href="{{url_for('newProduct', category_id = category.id )}}">
            <button class="btn-group btn-group-sm" id="new-product">
                <span class="octicon octicon-diff-added"></span>
                Add Product
            </button>
        </a>
    </div>
    <div class="col-md-1"></div>
</div>

{% if items !=[] %}
<!--<div class="row">-->
<div class="flex-container">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <h2>Products</h2>
        {% for i in items %}
        <div class="menu-item">
            {% if i.picture != [] %}
                <figure class="creator">
                    <img src="{{i.picture}}" alt="{{i.name}}&nbsp;image"
                    class="item-image" />
                </figure>
            {% endif %}
            <h3><a href = "{{url_for('showProduct', category_id = category.id,
                product_id = i.id)}}">{{i.name}}</a></h3>
            <p><a href = "{{url_for('editProduct', category_id = category.id,
                product_id = i.id)}}">Edit</a> |
            <a href = "{{url_for('deleteProduct', category_id = category.id,
                product_id = i.id)}}">Delete</a></p>
            <p>{{i.description}}</p>
            <p class="menu-price">{{i.price}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% elif items ==[] %}
<div class="col-md-1"></div>
No products yet.
</div>
{% endif %}
{% endblock %}
