<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <title>Car Parts</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
            integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
            crossorigin="anonymous">
        <link rel=stylesheet type=text/css
            href="{{ url_for('static', filename='styles.css') }}">
        <!-- Github octicons -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.svg">
        <!-- Custom styles for this template -->
        <link rel=stylesheet type=text/css
            href="{{ url_for('static', filename='css/shop-homepage.css') }}">
        <!-- Bootstrap core JavaScript -->
        <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}">
        </script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}">
        </script>
    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{{url_for('showCategories')}}">Car Parts Catalog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('showCategories')}}">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('showAbout')}}">About</a>
                        </li>
                        <li class="nav-item">
                            {%if 'username' not in session %}
                                <a class="nav-link" href="{{url_for('showLogin')}}">
                                    Login
                                </a>
                            {% else %}
                                <a class="nav-link" href="{{url_for('disconnect')}}">Logout </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <a class="nav-link" href="{{url_for('showCategories')}}">
                        <h2 class="my-4">Categories</h2>
                    </a>
                    <div class="list-group">
                        {% for i in categories %}
                        <div class="row list-group-item">
                            <a href = "{{url_for('showList', category_id = i.id)}}">{{i.name}}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- /.col-lg-3 -->
                <div class="col-lg-9">

                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
            <!-- /.container -->
    </body>
</html>
