{% extends "main.html" %}
{% block content %}
<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</div>
<div class="row banner main">
    <div class="col-md-1"></div>
</div>
<div class="row padding-top padding-bottom">
    <div class="col-md-1"></div>
    <div class="col-md-10 padding-none">
        <h2>Actions</h2>
        <a href="{{url_for('newProduct', category_id = category.id )}}">
            <button class="btn-group btn-group-sm" id="new-product">
                <span class="octicon octicon-diff-added"></span>
                Add Product
            </button>
        </a>
    </div>
    <div class="col-md-1"></div>
</div>

<!--<div class="row">-->
<div class="flex-container">
    <div class="col-md-1"></div>
    <div class="col-md-12">
        <div class="menu-item">
            {% if item.picture != [] %}
            <figure class="creator">
                <img src="{{item.picture}}" alt="{{item.name}}&nbsp;image" class="item-image" />
            </figure>
            {% endif %}
            <h3>{{item.name}}</h3>
            <p><a href = "{{url_for('editProduct', category_id = category.id, product_id = item.id)}}">Edit</a> |
            <a href = "{{url_for('deleteProduct', category_id = category.id, product_id = item.id)}}">Delete</a></p>
            <p>{{item.description}}</p>
            <p class="menu-price">{{item.price}}</p>
        </div>
    </div>
</div>
{% endblock %}
