{% extends "main.html" %}
{% block content %}
<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</div>
<div class="row banner main">
    <div class="col-md-1"></div>
</div>
<div class="flex-container">
    <div class="col-md-1"></div>
    <div class="col-md-12">
        <div class="menu-item">
            {% if item.picture != [] %}
                <figure class="creator">
                    <img src="{{item.picture}}" alt="{{item.name}}&nbsp;image"
                    class="item-image" />
                </figure>
            {% endif %}
            <h3>{{item.name}}</h3>
            <p>{{item.description}}</p>
            <p class="menu-price">{{item.price}}</p>
        </div>
    </div>
</div>
{% endblock %}
